.gallery {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
}

.gallery-column {
	box-sizing: border-box;
	flex-direction: column;
	object-fit: contain;
}

.img-container {
	height: 100%;
	justify-content: center;
	display: flex;
	overflow: hidden;
	object-fit: contain;
}

.img-container .photo {
	box-sizing: border-box; 
	width: 100%;
	height: 100%;
	object-fit: contain;
}
