#navbar {
	display: flex;
	flex-direction: row;
	padding: 1vw 0vw 0vw 1vw;
	/* padding-bottom: 0.5vw; */
	/* padding-left: 1.5vw; */
}

#navbar a {
	color: #ffffff;
	margin-right: 2vw;
	text-decoration: none;
	transition: color 0.2s ease;
}

#navbar a:hover {
	cursor: pointer;
	color: #91a4d2;
}