.gallery {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* For small screens (max-width: 800px) */
@media (max-width: 800px) {
  .img-container {
    width: 50%;
  }
}

/* For big screens (min-width: 801px) */
@media (min-width: 801px) {
  .img-container {
    width: 33.333%;
  }
}

.img-container {
  height: 100%;
  /* align-items: center; */
  justify-content: center;
  display: flex;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 1.5%; 
}
